{% extends "base.html" %}

{% block content %}
<head>
  <link rel="stylesheet" href="static/web-speech.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>

<h5 id="initial">Burt's Reading Test</h5>
<p id="initial">Press the mic icon to read out the word</p>
<p id="done">Successfully Completed!</p>
<p id="demo"></p>
<div class="container mt-3">
  
  <div id="ques"><p>cat</p></div>
  <div id="ques"><p>dog</p></div>

  <div id="info"></div>
  <div id= "mic" class="float-right">
    <button id="start_button">
      <img id="start_img" src="static/mic.gif" alt="Start"></button>
  </div>

  <div id="results">
    <span id="final_span" class="final"></span>
    <span id="interim_span" class="interim"></span>
    <p>
</div>

<button id="open">Next</button>

<div class="row col-12 p-0 m-0" id="lang">
    <div class="row col-12 col-md-8 col-lg-6 p-0 m-0">
        <select id="select_language"></select>
        <select id="select_dialect"></select>
    </div>
  </div>
</div>

<button id="done1">Move to Next</button>

<script src="static/languages.js"></script>
<script type="text/javascript" src="static/jquery-1.9.1.js"></script>

<script>
var messages = {
  "start": {
    msg: 'Click on the microphone icon and begin speaking.',
    class: 'alert-success'},
  "speak_now": {
    msg: 'Speak now.',
    class: 'alert-success'},
  "no_speech": {
    msg: 'No speech was detected. You may need to adjust your <a href="//support.google.com/chrome/answer/2693767" target="_blank">microphone settings</a>.',
    class: 'alert-danger'},
  "no_microphone": {
    msg: 'No microphone was found. Ensure that a microphone is installed and that <a href="//support.google.com/chrome/answer/2693767" target="_blank">microphone settings</a> are configured correctly.',
    class: 'alert-danger'},
  "allow": {
    msg: 'Click the "Allow" button above to enable your microphone.',
    class: 'alert-warning'},
  "denied": {
    msg: 'Permission to use microphone was denied.',
    class: 'alert-danger'},
  "blocked": {
    msg: 'Permission to use microphone is blocked. To change, go to chrome://settings/content/microphone',
    class: 'alert-danger'},
  "upgrade": {
    msg: 'Web Speech API is not supported by this browser. It is only supported by <a href="//www.google.com/chrome">Chrome</a> version 25 or later on desktop and Android mobile.',
    class: 'alert-danger'},
  "stop": {
      msg: 'Stop listening, click on the microphone icon to restart',
      class: 'alert-success'},
  "copy": {
    msg: 'Content copy to clipboard successfully.',
    class: 'alert-success'},
}

var final_transcript = '';
var recognizing = false;
var ignore_onend;
var start_timestamp;
var recognition;

$( document ).ready(function() {
  for (var i = 0; i < langs.length; i++) {
    select_language.options[i] = new Option(langs[i][0], i);
  }
  select_language.selectedIndex = 6;
  updateCountry();
  select_dialect.selectedIndex = 6;
  
  if (!('webkitSpeechRecognition' in window)) {
    upgrade();
  } else {
    showInfo('start');  
    start_button.style.display = 'inline-block';
    recognition = new webkitSpeechRecognition();
    recognition.continuous = true;
    recognition.interimResults = true;

    recognition.onstart = function() {
      recognizing = true;
      showInfo('speak_now');
      start_img.src = 'static/mic-animation.gif';
    };

    recognition.onerror = function(event) {
      if (event.error == 'no-speech') {
        start_img.src = 'static/mic.gif';
        showInfo('no_speech');
        ignore_onend = true;
      }
      if (event.error == 'audio-capture') {
        start_img.src = 'static/mic.gif';
        showInfo('no_microphone');
        ignore_onend = true;
      }
      if (event.error == 'not-allowed') {
        if (event.timeStamp - start_timestamp < 100) {
          showInfo('blocked');
        } else {
          showInfo('denied');
        }
        ignore_onend = true;
      }
    };

    recognition.onend = function() {
      recognizing = false;
      if (ignore_onend) {
        return;
      }
      start_img.src = 'static/mic.gif';
      if (!final_transcript) {
        showInfo('start');
        return;
      }
      showInfo('stop');
      if (window.getSelection) {
        window.getSelection().removeAllRanges();
        var range = document.createRange();
        range.selectNode(document.getElementById('final_span'));
        window.getSelection().addRange(range);
      }
    };

    recognition.onresult = function(event) {
      var interim_transcript = '';
      for (var i = event.resultIndex; i < event.results.length; ++i) {
        if (event.results[i].isFinal) {
          final_transcript += event.results[i][0].transcript;
        } else {
          interim_transcript += event.results[i][0].transcript;
        }
      }
      final_transcript = capitalize(final_transcript);
      final_span.innerHTML = linebreak(final_transcript);
      interim_span.innerHTML = linebreak(interim_transcript);
    };
  }
});


function updateCountry() {
  for (var i = select_dialect.options.length - 1; i >= 0; i--) {
    select_dialect.remove(i);
  }
  var list = langs[select_language.selectedIndex];
  for (var i = 1; i < list.length; i++) {
    select_dialect.options.add(new Option(list[i][1], list[i][0]));
  }
  select_dialect.style.visibility = list[1].length == 1 ? 'hidden' : 'visible';
}


function upgrade() {
  start_button.style.visibility = 'hidden';
  showInfo('upgrade');
}

var two_line = /\n\n/g;
var one_line = /\n/g;
function linebreak(s) {
  return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
}

var first_char = /\S/;
function capitalize(s) {
  return s.replace(first_char, function(m) { return m.toUpperCase(); });
}

$("#copy_button").click(function () {
  if (recognizing) {
    recognizing = false;
    recognition.stop();
  }
  setTimeout(copyToClipboard, 500);
  
});

function copyToClipboard() {
  if (document.selection) { 
      var range = document.body.createTextRange();
      range.moveToElementText(document.getElementById('results'));
      range.select().createTextRange();
      document.execCommand("copy"); 
  
  } else if (window.getSelection) {
      var range = document.createRange();
       range.selectNode(document.getElementById('results'));
       window.getSelection().addRange(range);
       document.execCommand("copy");
  }
  showInfo('copy');
}

$("#start_button").click(function () {
  if (recognizing) {
    recognition.stop();
    return;
  }
  final_transcript = '';
  recognition.lang = select_dialect.value;
  recognition.start();
  ignore_onend = false;
  final_span.innerHTML = '';
  interim_span.innerHTML = '';
  start_img.src = 'static/mic-slash.gif';
  showInfo('allow');
  start_timestamp = event.timeStamp;
});

$("#select_language").change(function () {
  updateCountry();
});

function showInfo(s) {
  if (s) {
    var message = messages[s];
    $("#info").html(message.msg);
    $("#info").removeClass();
    $("#info").addClass('alert');
    $("#info").addClass(message.class);
  } else {
    $("#info").removeClass();
    $("#info").addClass('d-none');
  }
}
</script> 

<script>
var ele = document.querySelectorAll("[id='ques']");
var ele1 = document.querySelectorAll("[id='done']");
var ele2 = document.querySelectorAll("[id='done1']");
var ini = document.querySelectorAll("[id='initial']");
var res = document.querySelectorAll("[id='results']");
var lang = document.querySelectorAll("[id='lang']");
var info = document.querySelectorAll("[id='info']");
var mic = document.querySelectorAll("[id='mic']");
var c = 0;
var w = 0;
var ans = ['cat','dog'];
var response = [];

$(function(){
        $(ele).hide();
        $(ele1).hide();
        $(ele2).hide();
        $(res).hide();
        $(lang).hide();
        $(ele[c]).fadeIn();
        $('#open').on('click',function(){
        $(ele[c]).fadeOut(function () {
        response.push(document.getElementById('results').innerText);
        var str1 = (response[response.length - 1].trim()).toLowerCase();
        var str2 = ans[c];
        if(str1.localeCompare(str2)!=0){
          w = w + 1;
        }
          c = c + 1;
          var diff = c-w;
          if(c==2){
            $(ele1).fadeIn();
            $(ele2).fadeIn();
            document.getElementById("demo").innerHTML = "Test Score: "+ diff;
            $('#open').hide();
            $(ini).hide();
            $(info).hide();
            $(mic).hide();
          }
          else {
              $(ele[c]).fadeIn();
  
          }
      }); 
      }); 
  });

</script>
{% endblock %}

