{% extends "base.html" %}

{% block content %}
<br><br><br><br><br><br><br><br><br><br><br>
<p id="demo1"></p>
<p id="done">Successfully Completed!</p>
<p id="demo"></p>
<a class='button' id="done1" href="{{ url_for('auth.score') }}">Move to Next</a>
<br><br><br><br><br><br><br><br>
<h3 id="initial">Comprehension</h3>
<h5 id="ti"><time>00:00:00</time></h5> 

<hr id="initial">
<p id="initial"><b>Read the below given passage and attempt the questions</b></p>
<p id="initial">Antonio, a merchant of the city of Venice, had borrowed a sum of three<br>
    thousand ducats from an old Jew called Shylock in order to provide his<br>
    Bassanio with the money he needed to marry Portia, a rich and beautiful<br>
    lady, Antonio had also agreed to a strange penalty fixed by Shylock. The<br>
    bond that Antonio had signed said that Shylock could cut off a pound of<br>
    flesh from the part nearest to Antonio's heart if he failed to repay the sum<br>
    before the end of the three months. You might wonder why Antonio<br>
    signed such a foolish bond. The reason was that he expected his ships<br>
    to return long before the payment would fall due. But unfortunately for<br>
    Antonio his ship did not arrive at port in time and since the three months<br>
    mentioned in the bond has now passed, the jew filed a suit against<br>
    Antonio claiming the penalty of a pound of flesh.
   </p>
   <hr id="initial">

   <div id="ques">
    <b>1. Who was Antonio?</b><br><br>
      <input type="radio" id="p" name="q0" value="1"> King <br>
      <input type="radio" id="p" name="q0" value="2"> Minister <br>
      <input type="radio" id="p" name="q0" value="3"> Soldier <br>
      <input type="radio" id="p" name="q0" value="4"> Merchant <br>
  </div>

  <div id="ques">
    <b>2. What did he do? </b><br><br>
      <input type="radio" id="p" name="q1" value="1"> Borrowed a sum of three thousand ducats <br>
      <input type="radio" id="p" name="q1" value="2"> Stolen a sum of three thousand ducats<br>
      <input type="radio" id="p" name="q1" value="3"> Bought a sum of three thousand ducats <br>
      <input type="radio" id="p" name="q1" value="4"> None of the above <br>
  </div>

  <div id="ques">
    <b>3.  Why did he borrow the money?</b><br><br>
      <input type="radio" id="p" name="q2" value="1"> To help bassino for his marriage <br>
      <input type="radio" id="p" name="q2" value="2"> For his marriage <br>
      <input type="radio" id="p" name="q2" value="3"> To buy a new house <br>
      <input type="radio" id="p" name="q2" value="4"> All the above <br>
  </div>

  <div id="ques">
    <b>4. Who was Shylock?</b><br><br>
      <input type="radio" id="p" name="q3" value="1"> Servant <br>
      <input type="radio" id="p" name="q3" value="2"> Farmer <br>
      <input type="radio" id="p" name="q3" value="3"> Old jew <br>
      <input type="radio" id="p" name="q3" value="4"> New jew <br>
  </div>

  <div id="ques">
    <b>5. What was the strange penalty fixed by Shylock?</b><br><br>
      <input type="radio" id="p" name="q1" value="1"> Give his eyes <br>
      <input type="radio" id="p" name="q1" value="2"> Hang him <br>
      <input type="radio" id="p" name="q1" value="3"> Cut off a pound of flesh <br>
      <input type="radio" id="p" name="q1" value="4"> Give his ships <br>
  </div>
   <br>
  <button id="open">Next</button>


<script>

</script>
<script>
    var ele = document.querySelectorAll("[id='ques']");
    var ele1 = document.querySelectorAll("[id='done']");
    var ele2 = document.querySelectorAll("[id='done1']");
    var ini = document.querySelectorAll("[id='initial'");
    var ans = ['4','1','1','3','3'];
    var c = 0;
    var w = 0;
    var q = 'q'

    var h1 = document.querySelectorAll("[id='ti']")[0],
    stop = document.getElementById('done1'),
    seconds = 0, minutes = 0, hours = 0,
    t;

    function add() {
    seconds++;
    if (seconds >= 60) {
        seconds = 0;
        minutes++;
        if (minutes >= 60) {
            minutes = 0;
            hours++;
        }
    }
    
    h1.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

    timer();
}
function timer() {
    t = setTimeout(add, 1000);
}
timer();

      $(function(){
            $(ele).hide();
            $(ele1).hide();
            $(ele2).hide();
            $(ele[c]).fadeIn();
            $('#open').on('click',function(){
            $(ele[c]).fadeOut(function () {
            var temp = "input[type='radio'][name='"+q+c+"']:checked";
                if(ans[c] != $(temp).val()){
                    w = w + 1;
                }
              //increment the current question by one
              c = c + 1;
              //if there are no more questions do stuff
              var diff = c-w;

            if(c==5){
            clearTimeout(t);
            $(ele1).fadeIn();
            $(ele2).fadeIn();
            document.getElementById("demo").innerHTML = "Test Score: "+ diff;
            if(hours==0){
              h = '00';
            }
            if(minutes==0){
              m = '00';
            }
            if(seconds==0){
              s = '00';
            }
            else if(seconds==1){
              s = '01';
            }
            else if(seconds==2){
              s = '02';
            }
            else if(seconds==3){
              s = '03';
            }
            else if(seconds==4){
              s = '04';
            }
            else if(seconds==5){
              s = '05';
            }
            else if(seconds==6){
              s = '06';
            }
            else if(seconds==7){
              s = '07';
            }
            else if(seconds==8){
              s = '08';
            }
            else if(seconds==9){
              s = '09';
            }
            else{
              s = seconds;
            }
            document.getElementById("demo1").innerHTML = "Time Taken: "+h+':'+m+':'+s;
            document.getElementById("demo").innerHTML = "Test Score: "+ diff;
            $('#open').hide();
            $(ini).hide();
            $(ti).hide();
            }
            else {
  
              //otherwise show the next question
              $(ele[c]).fadeIn();
          }
          }); 
          }); 
      });   
</script>

{% endblock %}


