{% extends "base.html" %}

{% block content %}
<br><br><br><br><br><br><br><br><br><br><br>
<p id="demo1"></p>
<p id="done">Successfully Completed!</p>
<p id="demo"></p>
<a class='button' id="done1" href="{{ url_for('auth.score') }}">Move to Next</a>
<br><br><br><br><br><br><br><br>
<h3 id="initial">Comprehension</h3>
<h5 id="ti"><time>00:00:00</time></h5> 

<div id="aud">
  <audio controls autoplay>
    <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/instruct/passage.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>

<hr id="initial">
<p id="initial"><b>Read the below given passage and attempt the questions</b></p>
<p id="initial">Once there were many rats in a house. One day a big brown cat came into<br>
    house, She killed many rats. The rats were always afraid of the cat. A big grey<br>
    rat was their leader. It said, "Let's all catch her. Then I can bite her hard with<br>
    my teeth.” A big black rat said "I can pull her tail with my teeth." A small black <br>
    rat said," I can kick with my legs." Their leader said: "we can kill her without<br>
    trouble." Other rats said,” We can all round her with joy."
   </p>
   <hr id="initial">

   <div id="ques">
    <b>1. Who lived in the house?</b><br><br>
      <input type="radio" id="p" name="q0" value="1"> Dogs <br>
      <input type="radio" id="p" name="q0" value="2"> Rats <br>
      <input type="radio" id="p" name="q0" value="3"> Cats <br>
      <input type="radio" id="p" name="q0" value="4"> Rabbits <br>
  </div>

  <div id="ques">
    <b>2. One day who came into the house?</b><br><br>
      <input type="radio" id="p" name="q1" value="1"> Small dog <br>
      <input type="radio" id="p" name="q1" value="2"> Small white cat <br>
      <input type="radio" id="p" name="q1" value="3"> Big brown cat <br>
      <input type="radio" id="p" name="q1" value="4"> Big black cat <br>
  </div>

  <div id="ques">
    <b>3. Who killed the rats?</b><br><br>
      <input type="radio" id="p" name="q2" value="1"> Big brown cat <br>
      <input type="radio" id="p" name="q2" value="2"> Small white dog <br>
      <input type="radio" id="p" name="q2" value="3"> Big rabbit <br>
      <input type="radio" id="p" name="q2" value="4"> None of the above <br>
  </div>

  <div id="ques">
    <b>4. Who was the leader of the rats?</b><br><br>
      <input type="radio" id="p" name="q3" value="1"> Big white cat <br>
      <input type="radio" id="p" name="q3" value="2"> Big grey dog <br>
      <input type="radio" id="p" name="q3" value="3"> Big black cat <br>
      <input type="radio" id="p" name="q3" value="4"> Big grey rat <br>
  </div>

  <div id="ques">
    <b>5. What did the rats want to do to the cat? </b><br><br>
      <input type="radio" id="p" name="q4" value="1"> Feed <br>
      <input type="radio" id="p" name="q4" value="2"> Kill <br>
      <input type="radio" id="p" name="q4" value="3"> Play <br>
      <input type="radio" id="p" name="q4" value="4"> None of the above <br>
  </div>
   <br>
  <button id="open">Next</button>


<script>

</script>
<script>
    var ele = document.querySelectorAll("[id='ques']");
    var ele1 = document.querySelectorAll("[id='done']");
    var ele2 = document.querySelectorAll("[id='done1']");
    var ini = document.querySelectorAll("[id='initial'");
    var aud = document.querySelectorAll("[id='aud'");
    var ans = ['2','3','1','4','2'];
    var c = 0;
    var w = 0;
    var q = 'q'

    var h1 = document.querySelectorAll("[id='ti']")[0],
    stop = document.getElementById('done1'),
    seconds = 0, minutes = 0, hours = 0,
    t;

    function add() {
    seconds++;
    if (seconds >= 60) {
        seconds = 0;
        minutes++;
        if (minutes >= 60) {
            minutes = 0;
            hours++;
        }
    }
    
    h1.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

    timer();
}
function timer() {
    t = setTimeout(add, 1000);
}
timer();

      $(function(){
            $(ele).hide();
            $(ele1).hide();
            $(aud).hide();
            $(ele2).hide();
            $(ele[c]).fadeIn();
            $('#open').on('click',function(){
            $(ele[c]).fadeOut(function () {
            var temp = "input[type='radio'][name='"+q+c+"']:checked";
                if(ans[c] != $(temp).val()){
                    w = w + 1;
                }
              //increment the current question by one
              c = c + 1;
              //if there are no more questions do stuff
              var diff = c-w;

            if(c==5){
            clearTimeout(t);
            $(ele1).fadeIn();
            $(ele2).fadeIn();
            document.getElementById("demo").innerHTML = "Test Score: "+ diff;
            if(hours==0){
              h = '00';
            }
            if(minutes==0){
              m = '00';
            }
            if(seconds==0){
              s = '00';
            }
            else if(seconds==1){
              s = '01';
            }
            else if(seconds==2){
              s = '02';
            }
            else if(seconds==3){
              s = '03';
            }
            else if(seconds==4){
              s = '04';
            }
            else if(seconds==5){
              s = '05';
            }
            else if(seconds==6){
              s = '06';
            }
            else if(seconds==7){
              s = '07';
            }
            else if(seconds==8){
              s = '08';
            }
            else if(seconds==9){
              s = '09';
            }
            else{
              s = seconds;
            }
            document.getElementById("demo1").innerHTML = "Time Taken: "+h+':'+m+':'+s;
            document.getElementById("demo").innerHTML = "Test Score: "+ diff;
            $('#open').hide();
            $(ini).hide();
            $(ti).hide();
            var time = (hours*60)+minutes+(seconds/60);
            var entry = {
              score: diff*2, time: time
            };
            fetch('/passage2',{
              method: 'POST',
              credentials: 'include',
              body: JSON.stringify(entry),
              cache: 'no-cache',
              headers: new Headers({
                'content-type':'application/json'
              })
            })
            }
            else {
  
              //otherwise show the next question
              $(ele[c]).fadeIn();
          }
          }); 
          }); 
      });   
</script>

{% endblock %}


