{% extends "base.html" %}

{% block content %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2>
    About
</h2>
<p>
    Glad having you here, <b>{{ name }}! </b>
</p>
<p>
<b>‘Learning Disability’ (abbr. LD)</b> is a generalized term under the hood of <b>Special Education</b> and <b>Remediation</b> that encompasses children with difficulty in displaying one or more basic skills or in processing certain information which is not considered to be a heavy task for a normal child of the same age group.
The term Learning Disability shall not be mistaken to be any form of intellectual delay in a child. Learning Disabilities are often interchangeably used with the term Learning Difficulties that closely relates to one or more combinations of differences in learning.</p>
<p>Some of these include – difficulty with writing, reading, language, reasoning, mathematics, attention, memory, sequencing, visual discrimination, auditory discrimination, etc. One of the many frequently practised and established criteria to identify learning
disabilities in children is by utilizing the <b>Informal Educational Assessment Tools</b> such as Schonell’s Spelling Test, Wepman’s Auditory Discrimination Test, Auditory Sequential Memory Test, Comprehensive Understanding Test etc.</p> 
<p>The project focuses on automating the entire process of identification of learning
disabilities by means of pre-established machine and deep learning techniques on the information obtained from the integration of the diversely explicated assessment tools. The purpose of the project is to simplify and improve the process of detection undertaken
by Special Educators/ Remedial Trainers <b>not to substitute, but to supplement the existing methodology</b> in the proposed system. </p>
<p>Introducing these techniques into the procedure of identification of learning disabilities offers the benefit of making no presumptions
regarding the nature of data obtained from the subject during the process and helps in removing the element of bias which otherwise exists naturally when the process is solely undertaken by humans. This also reduces the complexity of diagnosis in the manually
proposed system by eliminating situational constraints which explicitly require the involvement of an experienced Special Educator/ Remedial Trainer and physical resources such as remediation tools, flashcards, etc. 
</p>
{% endblock %}