{% extends "base.html" %}

{% block content %}

<h5 id="initial">ASM Digit Span - Forward Sequencing</h5>
<p id="initial">Play the audio and click 'Next' to type the number sequence.</p>
<p id="done">Successfully Completed!</p>
<p id="demo"></p>

<div id="aud">
  <audio controls autoplay>
    <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/instruct/forward.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>

<form method="POST" action="{{ url_for('auth.backward1') }}" name="form">

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/2.%206.%205.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>
  
  <div id="ques">
    <input type="number" name="265" id="req">
  </div>
  
  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/7.%201.%202.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
    <input type="number" name="712" id="req">
  </div>
  
  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/2.%206.%202.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
    <input type="number" name="262" id="req">
  </div>
  
  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/6.%203.%205.%201.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="6351" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/1.%204.%205.%202.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="1452" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/2.%207.%204.%206.%209.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="27469" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/2.%204.%207.%201.%206.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="24716" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/6.%209.%201.%208.%203.%207.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="691837" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/1.%204.%205.%204.%207.%206.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="145476" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/5.%201.%207.%204.%202.%203.%208.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="5174238" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/9.%208.%205.%202.%201.%206.%203.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="9852163" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/1.%206.%204.%205.%209.%207.%206.%203.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="16459763" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/2.%209.%207.%206.%203.%201.%205.%204.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="29763154" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/5.%203.%208.%207.%201.%202%20.4.%206.%209.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="538712469" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/forward/4.%202.%206.%209.%201.%207.%208.%203.%205.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="426917835" id="req">
  </div>

  <button id="done1">Move to Next</button>
</form>
<button id="open">Next</button>
  
<script type="text/javascript" src="static/jquery-1.9.1.js"></script>

<script>

var ele = document.querySelectorAll("[id='ques']");
var ele1 = document.querySelectorAll("[id='done']");
var ele2 = document.querySelectorAll("[id='done1']");
var req = document.querySelectorAll("[id='req']");
var ini = document.querySelectorAll("[id='initial'");
var aud = document.querySelectorAll("[id='aud'");
var c = 0;
var w = 0;
var k = 0;
  $(function(){
        $(ele).hide();
        $(ele1).hide();
        $(aud).hide();
        $(ele2).hide();
        $(ele[c]).fadeIn();
        $('#open').on('click',function(){
        $(ele[c]).fadeOut(function () {
          //increment the current question by one
          c = c + 1;
          var diff = c/2 - w;
          //if there are no more questions do stuff
          if(c==30){
            $(ele1).fadeIn();
            $(ele2).fadeIn();
            document.getElementById("demo").innerHTML = "Test Score: "+ diff;
            $('#open').hide();
            $(ini).hide();
            var entry = {
              score: diff
            };
            fetch('/forward',{
              method: 'POST',
              credentials: 'include',
              body: JSON.stringify(entry),
              cache: 'no-cache',
              headers: new Headers({
                'content-type':'application/json'
              })
            })
          }
          else {
              //otherwise show the next question
              if(c%2==0){
                k = k + 1
                if(req[k-1].name != req[k-1].value){
                 w = w + 1;}
              }
              var diff = (c/2) - w;
              if(w>=2){
                $(ele1).fadeIn();
                $(ele2).fadeIn();
                document.getElementById("demo").innerHTML = "Test Score: "+diff;
                $('#open').hide();
                $(ini).hide();
                var entry = {
              score: diff
            };
            fetch('/forward',{
              method: 'POST',
              credentials: 'include',
              body: JSON.stringify(entry),
              cache: 'no-cache',
              headers: new Headers({
                'content-type':'application/json'
              })
            })
              }
              else{
                $(ele[c]).fadeIn();
              }
  
          }
      }); 
      }); 
  });
  
  
  </script>
{% endblock %}