{% extends "base.html" %}

{% block content %}

<h5 id="initial">ASM Digit Span - Backward Sequencing</h5>
<p id="initial">Play the audio and click 'Next' to type the number sequence in reverse order.</p>
<p id="done">Successfully Completed!</p>
<p id="demo"></p>

<div id="aud">
  <audio controls autoplay>
    <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/instruct/backward.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>

<form method="POST" action="/score" name="form">

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/1.%203.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>
  
  <div id="ques">
    <input type="number" name="31" id="req">
  </div>
  
  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/7.%205.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
    <input type="number" name="57" id="req">
  </div>
  
  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/2.%207.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
    <input type="number" name="72" id="req">
  </div>
  
  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/5.%202.%207.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="725" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/0.%201.%209.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="910" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/4.%207.%203.%205.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="5374" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/1.%206.%208.%205.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="5861" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/1.%207.%205.%200.%204.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="40571" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/3.%205.%202.%201.%207.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="71253" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/8.%203.%209.%207.%205.%203.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="357938" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/1.%204.%200.%204.%207.%202.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="274041" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/8.%205.%209.%202.%203.%204.%202.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="2432958" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/4.%205.%207.%209.%202.%208.%201.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="1829754" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/6.%209.%201.%206.%203.%202.%205.%208.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="85236196" id="req">
  </div>

  <div id="ques">
    <audio controls="">
      <source src="https://raw.githubusercontent.com/tanvipenumudy/audio/main/backward/3.%201.%203.%209.%205.%204.%208.%202.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio><br>
  </div>

  <div id="ques">
  <input type="number" name="28459313" id="req">
  </div>

  <button id="done1">Move to Next</button>
</form>
<button id="open">Next</button>
  
<script type="text/javascript" src="static/jquery-1.9.1.js"></script>

<script>

var ele = document.querySelectorAll("[id='ques']");
var ele1 = document.querySelectorAll("[id='done']");
var ele2 = document.querySelectorAll("[id='done1']");
var req = document.querySelectorAll("[id='req']");
var ini = document.querySelectorAll("[id='initial'");
var aud = document.querySelectorAll("[id='aud'");
var c = 0;
var w = 0;
var k = 0;
  $(function(){
        $(ele).hide();
        $(ele1).hide();
        $(aud).hide();
        $(ele2).hide();
        $(ele[c]).fadeIn();
        $('#open').on('click',function(){
        $(ele[c]).fadeOut(function () {
          //increment the current question by one
          c = c + 1;
          var diff = c/2 - w;
          //if there are no more questions do stuff
          if(c==30){
            $(ele1).fadeIn();
            $(ele2).fadeIn();
            document.getElementById("demo").innerHTML = "Test Score: "+ diff;
            $('#open').hide();
            $(ini).hide();
            var entry = {
              score: diff
            };
            fetch('/backward',{
              method: 'POST',
              credentials: 'include',
              body: JSON.stringify(entry),
              cache: 'no-cache',
              headers: new Headers({
                'content-type':'application/json'
              })
            })
          }
          else {
              //otherwise show the next question
              if(c%2==0){
                k = k + 1
                if(req[k-1].name != req[k-1].value){
                 w = w + 1;}
              }
              var diff = (c/2) - w;
              if(w>=2){
                $(ele1).fadeIn();
                $(ele2).fadeIn();
                document.getElementById("demo").innerHTML = "Test Score: "+diff;
                $('#open').hide();
                $(ini).hide();
                var entry = {
              score: diff
            };
            fetch('/backward',{
              method: 'POST',
              credentials: 'include',
              body: JSON.stringify(entry),
              cache: 'no-cache',
              headers: new Headers({
                'content-type':'application/json'
              })
            })
              }
              else{
                $(ele[c]).fadeIn();
              }
  
          }
      }); 
      }); 
  });
  
  
  </script>
{% endblock %}